= form_for(@quote) do |f|

  - if @quote.errors.any?
    #error_explanation
      h2 = pluralize(@quote.errors.count, 'error')
      ul
        - @quote.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :description
    br
    = f.text_area :description, cols: '95', rows: '6'
  .actions
    = f.submit
