.quote
  .header
    .actions
      .like.JS-Rating data-url=like_quote_path(quote) +
      .rating.JS-Rating-value = quote.rating ? quote.rating : "???"
      .dislike.JS-Rating data-url=dislike_quote_path(quote) -

    .date = quote.created_at.to_formatted_s(:db)
    = link_to "##{quote.id}", quote, class: "id"

  .text = quote.description
