// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  width: 800px;
  margin: 0 auto;
}

.menubar {
  margin-bottom: 30px;

  .submenu > div {
    display: inline-block;
  }

  .links a {
    margin: 0 7px;
  }
}

.quote {
  margin-top: 30px;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .actions {
    div {
      display: inline-block;
      margin-right: 4px;
    }
    .like, .dislike {
      cursor: pointer;
    }
  }

  .text {
    background-color: #f3f3f3;
    padding: 10px;
    border-color: rgb(187, 187, 187);
    border-radius: 3px;
    border-style: dotted;
    border-width: 1px;
  }
}
