<!DOCTYPE html>
html
  head
    title Quotes
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    .wrapper

      .menubar
        .submenu
          .title Цитаты:
          .links
            = link_to 'новые', quotes_path
            = link_to 'лучшие', best_quotes_path
            = link_to 'добавить', new_quote_path
      = yield
